<?xml version="1.0"?>
<!--
 ~ Copyright © Soft Commerce Ltd. All rights reserved.
 ~ See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="softcommerce_tab" translate="label" sortOrder="200" class="softcommerce_core_tab">
            <label>Soft Commerce</label>
        </tab>
        <section id="softcommerce_core" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SoftCommerce Core</label>
            <tab>softcommerce_tab</tab>
            <resource>SoftCommerce_Core::core_config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="version" type="note" translate="label" sortOrder="1" showInDefault="1">
                    <label>Version</label>
                    <frontend_model>SoftCommerce\Core\Block\Adminhtml\System\Config\Form\Field\Version</frontend_model>
                    <comment>Current module version</comment>
                </field>
            </group>
        </section>
    </system>
</config>
